{% extends "movimientos/base.html" %}
{% block content %}
    <h1 class="display-4" style="text-align: center;">Hola {{ user.username }}! 👋</h1>
    <div class="border-0 saldo" style="padding: 10px;">
        <h3  class="font-weight-light">Tu saldo actual es: </h3>
        <h1 class="text-center">{{ saldo }} </h1>
    </div>
    <h5>Últimos movimientos:</h5>
    <div class="table-responsive">
        <div class="movimientos">
            <table class="table table-hover table-bordered table-fixed">
                <thead class="thead-light">
                <tr style="width:1150px">
            
                    <th style="width: 192px">
                        Fecha
                        <a href="{% url 'movimientos-home' %}?sort=fecha">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </th>
            
                    <th style="width: 220px">
                        Nombre Movimiento
                        <a href="{% url 'movimientos-home' %}?sort=nombre_movimiento">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </th>
            
                    <th style="width: 192px">
                        Categoría
                        <a href="{% url 'movimientos-home' %}?sort=categoria">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </th>
            
                    <th style="width: 192px">
                        Monto
                        <a href="{% url 'movimientos-home' %}?sort=monto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </th>
            
                    <th style="width: 192px">
                        Tipo
                        <a href="{% url 'movimientos-home' %}?sort=tipo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for movimiento in movimientos %}
                    <tr style="width:1150px">
            
                        <td style="width: 192px">{{ movimiento.fecha }}</td>
            
                        <td style="width: 220px"> {{ movimiento.nombre_movimiento }} </td>
            
                        <td style="width: 192px"> {{ movimiento.categoria }}</td>
            
                        <td style="width: 192px"> {{ movimiento.monto }}</td>
            
                        <td style="width: 192px"> {{ movimiento.tipo }}</td>
            
                        <td style="width: 100px">
                            <div class="btn-group" role="group" aria-label="Basic">
                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                        data-target="#confirm-delete-modal-{{ movimiento.pk }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </button>
                                <a href="{% url 'movimientos-update' movimiento.pk %}">
                                    <button type="button" class="btn btn-secondary">
            
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <div class="modal fade" id="confirm-delete-modal-{{ movimiento.pk }}" tabindex="-1" role="dialog"
                         aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'movimientos-delete' movimiento.pk %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirm-delete-modal-label">Confirmar
                                            eliminación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estás seguro de que deseas eliminar este movimiento? "{{ movimiento }}"</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar
                                        </button>
                                        <input class="btn btn-danger" type="submit" value="Eliminar">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <div class="btn-group justify-content-center" role="group" aria-label="Basic example">
            <a href="{% url 'movimientos-crear' %}" class="btn btn-outline-primary">Ingresar nuevo movimiento</a>
            <a href="{% url 'movimientos-filtro' %}" class="btn btn-outline-primary">Filtrar movimiento</a>
        </div>
    </div>
{% endblock content %}